<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>beautybar.vn.servlets.servlet.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>beautybar.vn.servlets.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <servlet>
        <servlet-name>sort</servlet-name>
        <servlet-class>beautybar.vn.servlets.servlet.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sort</servlet-name>
        <url-pattern>/sort</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>services</servlet-name>
        <servlet-class>beautybar.vn.servlets.servlet.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>services</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>master</servlet-name>
        <servlet-class>beautybar.vn.servlets.servlet.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>master</servlet-name>
        <url-pattern>/master</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>master_timetable</servlet-name>
        <servlet-class>beautybar.vn.servlets.servlet.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>master_timetable</servlet-name>
        <url-pattern>/master_timetable</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>record_list</servlet-name>
        <url-pattern>/record_list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>record_list</servlet-name>
        <servlet-class>beautybar.vn.servlets.servlet.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit_record</servlet-name>
        <url-pattern>/edit_record</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>edit_record</servlet-name>
        <servlet-class>beautybar.vn.servlets.servlet.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>add_response</servlet-name>
        <url-pattern>/add_response</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>add_response</servlet-name>
        <servlet-class>beautybar.vn.servlets.servlet.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>response</servlet-name>
        <url-pattern>/response</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>response</servlet-name>
        <servlet-class>beautybar.vn.servlets.servlet.Controller</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>beautybar.vn.servlets.servlet.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminListCommand</servlet-name>
        <url-pattern>/AdminListCommand</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminListCommand</servlet-name>
        <servlet-class>beautybar.vn.servlets.servlet.Controller</servlet-class>
    </servlet>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/WEB-INF/jsp/*</url-pattern>
        <servlet-name>Controller</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>utf8filter</filter-name>
        <filter-class>beautybar.vn.servlets.filter.UtfFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>utf8filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>beautybar.vn.servlets.filter.AuthenticationFilter</filter-class>
        <init-param>
            <param-name>active</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/main</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SessionLocaleFilter</filter-name>
        <filter-class>beautybar.vn.servlets.filter.SessionLocaleFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SessionLocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>